html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: 'Source Serif Pro', serif;
  background-color: #ffffff;
}

p {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000000c5;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.main {
  padding: 0 8vw 0 8vw;
}

.container-fluid.outer {
  height: 100vh;
  padding: 2vh 0 10vh 0;
}

.container-fluid.outer .material-icons {
  float: right;
}

.container-fluid.outer .home {
  color: black;
  font-size: 40px;
  font-family: 'Source Serif Pro', serif;
}

.container-fluid.inner {
  background-color: #69696996;
  background-image: url("https://vernon-van-der-merwe.github.io/tinkerwatches.com-themed-website/assets/img/IMG_0672.jpg");
  background-size: cover;
  height: 80vh;
  margin-top: 3vh;
  padding: 35vh 0 0 0;
}

.container-fluid.inner:hover {
  background-color: #79797996;
}

.container-fluid.body .title {
  padding: 25px 0 25px 100px;
  color: white;
  background-color: black;
}

.container-fluid.body .title h1 {
  font-size: 55px;
  padding: 0 0 17px 0;
}

.container-fluid.body .title p {
  font-size: 18px;
}

#categories {
  height: 1000px;
}

#categories .side-img {
  background-image: url("https://vernon-van-der-merwe.github.io/tinkerwatches.com-themed-website/assets/img/IMG_0560.jpg");
  background-size: cover;
  height: 940px;
  padding: 0;
  background-color: #69696996;
}

#categories .side-img h3 {
  color: white;
}

#categories .side-img .img-inner {
  height: 940px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#categories .side-img .img-inner h3 {
  display: none;
}

#categories .side-img .img-inner:hover {
  background-color: #00000096;
}

#categories .side-img .img-inner:hover h3 {
  display: block;
}

#categories .col-img-1 {
  margin: 0 50px 50px 0;
  height: 280px;
  background-image: url("https://vernon-van-der-merwe.github.io/tinkerwatches.com-themed-website/assets/img/eighteen-front.jpg");
  background-size: cover;
  background-color: #69696996;
  padding: 0;
}

#categories .col-img-1 h3 {
  color: white;
}

#categories .col-img-1 .img-inner {
  height: 280px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#categories .col-img-1 .img-inner h3 {
  display: none;
}

#categories .col-img-1 .img-inner:hover {
  background-color: #00000096;
}

#categories .col-img-1 .img-inner:hover h3 {
  display: block;
}

#categories .col-img-1 .img-inner:hover .col-img-1 {
  height: 240px;
}

#categories .col-img-2 {
  margin: 0 50px 50px 0;
  height: 280px;
  background-image: url("https://vernon-van-der-merwe.github.io/tinkerwatches.com-themed-website/assets/img/fight-back.jpg");
  background-size: cover;
  background-color: #69696996;
  padding: 0;
}

#categories .col-img-2 h3 {
  color: white;
}

#categories .col-img-2 .img-inner {
  height: 280px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#categories .col-img-2 .img-inner h3 {
  display: none;
}

#categories .col-img-2 .img-inner:hover {
  background-color: #00000096;
}

#categories .col-img-2 .img-inner:hover h3 {
  display: block;
}

#categories .col-img-3 {
  margin: 0 50px 50px 0;
  height: 280px;
  background-image: url("https://vernon-van-der-merwe.github.io/tinkerwatches.com-themed-website/assets/img/IMG_0560.jpg");
  background-size: cover;
  background-color: #69696996;
  padding: 0;
}

#categories .col-img-3 h3 {
  color: white;
}

#categories .col-img-3 .img-inner {
  height: 280px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#categories .col-img-3 .img-inner h3 {
  display: none;
}

#categories .col-img-3 .img-inner:hover {
  background-color: #00000096;
}

#categories .col-img-3 .img-inner:hover h3 {
  display: block;
}

#about-us {
  background-color: black;
  margin: 50px 0 50px 0;
  height: 600px;
  padding: 17vh 20vw;
}

#about-us h2 {
  font-size: 50px;
  color: white;
  font-family: 'Source Serif Pro', serif;
  padding: 0 0 40px 0;
}

#about-us p {
  color: white;
  font-size: 16px;
}

#about-us .logo-col {
  text-align: center;
}

#about-us .logo {
  font-family: 'Source Serif Pro', serif;
  margin: 30px 0 0 50px;
  color: white;
  font-size: 130px;
}

#about-us button {
  margin-top: 40px;
  border: solid white 3px;
  outline: 0;
  padding: 10px;
  color: black;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  width: 70%;
  font-size: 18px;
  -webkit-transition-duration: 1s all;
          transition-duration: 1s all;
}

#about-us button:hover {
  background-color: #000000;
  border: solid white 3px;
  color: white;
}

#store {
  padding: 80px 0 0 0;
  height: 70vh;
  background-color: #ffffff;
}

#store h2 {
  font-size: 50px;
  font-family: 'Source Serif Pro', serif;
  padding: 0 0 50px 0;
}

#store .secondary-title {
  color: #000000c7;
  margin-bottom: 50px;
}

#store .secondary-title h3 {
  font-size: 45px;
}

.card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border: none;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

.card h1 {
  font-size: 20px;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 79px 34px rgba(179, 179, 179, 0.41);
  box-shadow: 0px 0px 79px 34px rgba(179, 179, 179, 0.41);
}

.card .desc {
  padding: 0 60px 30px 60px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

#contact-us {
  background-color: black;
  margin: 50px 0 50px 0;
  height: 600px;
  padding: 17vh 20vw;
}

#contact-us h2 {
  font-size: 50px;
  color: white;
  font-family: 'Source Serif Pro', serif;
  padding: 0 0 40px 0;
}

#contact-us p {
  color: white;
  font-size: 16px;
}

#contact-us button {
  margin-top: 40px;
  border: solid white 3px;
  outline: 0;
  padding: 10px;
  color: black;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  width: 70%;
  font-size: 18px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

#contact-us button:hover {
  background-color: #000000;
  border: solid white 2px;
  color: white;
}
/*# sourceMappingURL=style.css.map */